vendor/
composer.lock
public/ev-admin-dashboard-template.multipurposethemes.com/bs5/template/vertical/main/node_modules/
public/ev-admin-dashboard-template.multipurposethemes.com/bs5/template/vertical/main/package-lock.json